body {
  background-color: blue;
}
h1 {
  color: green;
}
h2 {
  color: white;
}
h3 {
  color: white;
}
adress {
  color: white;
}
p {
  color: white;
}
h4 {
  color: white;
}
h5 {
  color: white;
  font-size: 16px;
}
h6 {
  color: green;
  font-size: 21px;
}
.object {
  color: pink;
}
b {
  color: white;
  font-size: 30px;
}
i {
  color: green;
  font-size: 24px;
}
